<ActionBar>
    <Label class="h2" text="Home"></Label>
    <!-- <StackLayout class="bg-primary">
        <Label text="I want to draw your attention here."></Label>
    </StackLayout> -->

</ActionBar>

<StackLayout>
    <Label text="Home Page Brah!"></Label>
    <Button class="btn btn-primary" text="GO!" [nsRouterLink]="['/login']" pageTransition="slide"></Button>
    <Button class="btn btn-primary" text="Quiz" [nsRouterLink]="['/quiz']" pageTransition="slide"></Button>
    <Button class="btn btn-primary" text="Topics" [nsRouterLink]="['/topics']" pageTransition="slide"></Button>
    <Button class="btn btn-danger" text="add user" (tap)="insert()"></Button>
    <Button class="btn" backgroundColor="red" text="RESET" (tap)="reset()"></Button>

    <ListView [items]="users">
        <ng-template let-user="item">
            <Label text="{{user.username}} {{user.password}} {{user.score}} WOW"></Label>
        </ng-template>
    </ListView>

</StackLayout>