<ActionBar title="VMFAShop"></ActionBar>
<StackLayout>

    <Label text="Home Page Brah!"></Label>
    <Label text="Welcome {{currentUser}}!" ></Label>
    
    <Button class="btn btn-primary rounded" width="20%" text="Login" [nsRouterLink]="['/login']" pageTransition="slide"></Button>
    <!-- <Button class="btn btn-primary" text="Quiz" [nsRouterLink]="['/quiz']" pageTransition="slide"></Button> -->
    <Button class="btn btn-primary rounded" width="20%" text="Topics" [nsRouterLink]="['/topics']" pageTransition="slide"></Button>
    <Button class="btn btn-primary rounded" width="20%" text="Admin" [nsRouterLink]="['/adminPage']" pageTransition="slide"></Button>
    <!-- <Button class="btn btn-danger" text="add user" (tap)="insert()"></Button> -->
    <Button class="btn rounded" backgroundColor="darkRed"width="33%" text="Reset User DB" (tap)="reset()"></Button>
    <Button class="btn btn-primary rounded" width="20%" text="usertest"  (tap)="userTest()"></Button>

    <ListView [items]="users">
        <ng-template let-user="item">
            <Label margin="20 0" horizontalAlignment="center" class="h3" text="User: {{user.username}}  ||  Password: {{user.password}}"></Label>
        </ng-template>
    </ListView>

</StackLayout>