<StackLayout width="75%">
    <Label></Label>


    <Label class="h2" textWrap="true" height="25%" horizontalAlignment="center" text="Pretend it doesnt say login at the top. on a quiz this is where 
    the question can go. "></Label>

    <Label class="align-center" horizontalAlignment="Left" text="Here is where the list can start"></Label>

    <Button text="Button" class="btn btn-primary" width="50%" horizontalAlignment="right" [nsRouterLink]="['/home']" pageTransition="slide"clearHistory="true"></Button>

    <Label text="Hope this works: {{quizName}} || {{quizCompleted}}"></Label>

    <Label class="h2" text="Question 1: "></Label>
    <ns-questions></ns-questions>

</StackLayout>