<ActionBar title="VMFAShop"></ActionBar>


<StackLayout class="form" height="85%">
    <Image width="100%"
        src="https://cdn.shopify.com/s/files/1/0158/9452/files/Peach_Plum_Planting_Guide_grande.jpg?v=1517257186">
    </Image>
    <Label class="h2" horizontalAlignment="center" text="Login"></Label>
    <StackLayout class="input-field">

        <TextField class="input" id="username-input" hint="username" [(ngModel)]="input.user"></TextField>
        <Label text="{{input.user}}"></Label>
    </StackLayout >

    <StackLayout class="input-field">
        <TextField class="input" hint="passwords" [(ngModel)]="input.password" ></TextField>
    </StackLayout>

    <Button text="Log In" class="btn btn-primary" (tap)="userLogin()" [nsRouterLink]="['/home']" pageTransition="slide"></Button>
    <Label horizontalAlignment="center" color="Gray" class="h7" text="Not a User?"></Label>
    <Button text="Register" class="btn btn-primary" (tap)="insert()" [nsRouterLink]="['/home']" pageTransition="slide"></Button>


    <!-- <ListView [items]="users">
        <ng-template let-user="item">
            <Label text=" {{user.username}}"></Label>
        </ng-template>
        </ListView> -->
</StackLayout>